body {
  height: 100%;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Open Sans', sans-serif;
}

.under-construction {
  text-align: center;
}

.under-construction img {
  margin: 0 auto;
}
